@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
}

html, body {
    font-family: 'Outfit', sans-serif;
}

header {
    background-color: #416FE3;
}

ul.list {
    list-style: none;
}

a.link {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
    padding: 1rem;
}

/*UTILS*/


.container {
    width: 1000px;

    background-color: 416FE3; 
    color: white;
}

.logo{
    max-width: 7rem;
}

.btn {
    background-color: white;
    border-style: none;

    border-radius: 1rem;
    padding: 0.5rem;

}

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.f-end {
    align-items: flex-end;
}

.brick {
    gap: 3px;
}

